body {
    font-family: 'Raleway', sans-serif;
    padding: auto !important;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

section a {
    text-decoration: none;
    color: black;
}


/* Menu */

.menu{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-between;
    width: 100%;
    }

#sinscrire a{
    text-decoration:none; 
    Color: #0065FC;
    
}

#sinscrire{
    margin-block-start: 1em;
    margin-block-end: 1em; 
}

nav {
    display: flex;
    flex-direction: row;
}


nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav li {
    margin-right: 10px;
}

nav a {
    Color: #0065FC;
    text-decoration: none;
}

nav a:hover {
    color: black;
    padding: 9px;
}

nav p{
    margin-top: 400px;
}


/* Barre de recherche */

#searchbox {
    border: solid 1px #F2F2F2;
    width: 292px;
    border-radius: 10px;
}

#searchbox input[type="search"] {
        border: none;
        background-color: #FFFFFF;
       
    }
.icosearch {
    padding: 10px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#SearchSubmit {
    border: none;
    padding: 10px;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Filtre */

.filtreBox {
    display: flex;
    flex-direction: row;
    align-items : center;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    vertical-align: middle;
}
.icoFiltre {
    display : flex;
    align-items : center;
    justify-content: center;
    background-color: #DEEBFF;
    padding: 10px;
    width: 25px;
    height:  25px;
    border-radius: 30px;
    margin-right: 10px;
}
.textFilttre {
    display: flex;
    align-items : center;
    justify-content: center;
    border: solid 1px #F2F2F2;
    border-radius: 30px;
    padding-right: 10px;
    margin-right: 20px;
}

    .textFilttre:hover {
        border: 3px dotted #F2F2F2;
        color: #0065FC;
        background: #fff;
    }

.filtreTitle {
margin-right : 20px;
}


/* Info */

.Info {
    display: flex;
    font-size: 13px;
    color: #6d6d6d;
}

.InfoIco {
    display : flex;
    align-items : center;
    justify-content: center;
    border: solid 1px #F2F2F2;
    padding: 10px;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    margin-right: 20px;

}

main {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

 main h2 {
     margin-left:20px;
     display: inline-block;
    }
/* Hébergement */

.boxherbegement {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 10px;
    width: 70%;
}

.Hebergement {
    display: flex;
    flex-wrap: wrap;
}

.HebergementBox {
    padding: 5px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 250px;
    height: auto;
    font-size: 13px;
    line-height: 8px;
    box-shadow: 5px 5px 20px grey;
    margin: 15px;
}

.HebergementImg {
    
    width: 250px;
    height: 155px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.Tbold{
    font-weight: bold;
}
.BoxContent{
    margin-left: 10px
}
.iconBox{
    display:flex;
    flex-direction:row;
    margin-bottom:5px;
}
.InfoHerbleu {
    color: #0065FC;
}
.InfoHergrey {
    color: #848484;
}
.Aff{

    font-weight: bold;
    margin-left:15px;
}
/* Populaire */
.boxpopulaires {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 10px;
}

.titleP{
    display:flex;
    flex-direction : row;
    justify-content: space-between;
    width: 40%;
}
#Populaire {
    margin-left: 40px;
    display:flex;
    flex-direction:column;
    background-color: #F2F2F2;
    padding: 10px;
    width: 30%;
    border-radius: 15px;
   
}
.PopulaireBox {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 3px;
    margin: 20px;
    width: 90%;
    height: 150px;
    font-size: 13px;
    box-shadow: 5px 5px 20px grey;
}
.PopulaireImg {
    width: 160px;
    height: auto;
    margin-right : 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.contentP{
    display:flex;
    flex-direction : column;

}

/* Activité */

.Activitesection{
 width: 100%;
 margin-bottom: 40px;
}

.ActiviteBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ABigBox {
 
    background-color: #ffffff;
    border-radius: 15px;
    width: 20%;
    height: 450px;
    font-size: 15px;
    box-shadow: 5px 5px 20px grey;
    margin-left: 15px;
}
.SmallB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}
.ASmallBox {
    background-color: #ffffff;
    border-radius: 15px;
    width: 100%;
    height: auto;
    font-size: 15px;
    box-shadow: 5px 5px 20px grey;
}

.BigImg {
    width: 100%;
    height: 375px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.SmallImg {
    width: 100%;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.ActiviteText {
    padding-top : 10px;
    font-weight: bold;
    padding-left: 10px;
}

/*Footer*/

footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    line-height: 15px;
    margin :auto;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}

.footerSpace{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 100px) and (max-width: 425px){
    #sinscrire a{
        text-decoration:none; 
        Color: pink;
        
    }
}


/*
@media screen and (max-width: 750px) {

    .menu{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        }

        .menu :nth-child(1) { order: 1; }
        .menu :nth-child(2) { order: 3; }
        .menu :nth-child(3) { order: 2; }

    body{
        margin:auto;
       
    }

    section {
        display: block;
        width: auto;
    }

    section h2 {
     font-size: 20px;
        }



    nav li{
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 10px;
        margin-right: 30px;
        width : 100px;
    }

    nav ul{
        padding-inline-start: 0px;
        width: 100%;
    }

    #sinscrire{
        margin-left: 120px;
    }

    #filtreBox {
        display: block;
        width: auto;
    }

    .filtreTitle {
        width: 100%;
        }

    main {
        display: flex;
        flex-direction: column-reverse;
        
    }

    .boxherbegement {
        background-color: #ffffff;
        width: 50%;
    }
    .Hebergement {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 20%;
    }
    .HebergementImg {
        width: 350px;
        height:150px;
    }

    .HebergementBox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #FFFFFF;
        width: 350px;
    }

    #Populaire {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        width: 50%;
    }

    .ActiviteBox {
        display: flex;
        flex-direction: column;
        
    }

    .ABigBox {
        background-color: #ffffff;
        border-radius: 15px;
        width: 300px;
        height: auto;
        margin-bottom: 30px;
    }

    .ASmallBox {
        margin-bottom: 30px;
      
    }

    .BigImg {
        width: 300px;
        height: 150px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .PopulaireBox{
        width: 70%;
    }

    footer{
        line-height: 15px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
    }

    .footerSpace {
        margin-right: 50px
    }
*/


